<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div id="logoutDiv">
        <form method="POST" th:action="@{/logout}">
            <button class="btn btn-secondary float-right" id="logout" type="submit">Logout</button>
        </form>
    </div>
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a aria-controls="nav-files" aria-selected="true" class="nav-item nav-link active" data-toggle="tab"
                   href="#nav-files"
                   id="nav-files-tab" role="tab">Files</a>
                <a aria-controls="nav-notes" aria-selected="false" class="nav-item nav-link" data-toggle="tab"
                   href="#nav-notes"
                   id="nav-notes-tab" role="tab">Notes</a>
                <a aria-controls="nav-credentials" aria-selected="false" class="nav-item nav-link" data-toggle="tab"
                   href="#nav-credentials" id="nav-credentials-tab" role="tab">Credentials</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div aria-labelledby="nav-files-tab" class="tab-pane fade show active" id="nav-files" role="tabpanel">
                <form enctype="multipart/form-data" method="POST" th:action="@{/files}">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-2">
                                <label for="fileUpload">Upload a New File:</label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control-file" id="fileUpload" name="fileUpload" type="file">
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-dark" type="submit">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped" id="fileTable">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 20%"></th>
                            <th scope="col" style="width: 80%">File Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="file: ${files}">
                            <td>
                                <a class="btn btn-success" th:download="${file.filename}" th:href="${file.dataURL}">Download</a>
                                <a class="btn btn-danger" th:href="@{/files/delete(id=${file.fileid})}">Delete</a>
                            </td>
                            <th scope="row" th:text="${file.filename}"></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div aria-labelledby="nav-notes-tab" class="tab-pane fade" id="nav-notes" role="tabpanel">
                <button class="btn btn-info float-right" id="newnote" onclick="showNoteModal()" style="margin: 0.25em;"
                        type="button">
                    + Add a New Note
                </button>

                <div class="table-responsive">
                    <table class="table table-striped" id="userTable">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 20%"></th>
                            <th scope="col" style="width: 20%">Title</th>
                            <th scope="col" style="width: 60%">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="note: ${notes}">
                            <td>
                                <button class="btn btn-success" name="edit"
                                        th:onclick="javascript:showNoteModal([[${note}]])"
                                        type="button">Edit
                                </button>
                                <a class="btn btn-danger" name="delete" th:href="@{/notes/delete(id=${note.noteid})}">Delete</a>
                            </td>
                            <th scope="row" th:text="${note.notetitle}"></th>
                            <td th:text="${note.notedescription}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div aria-hidden="true" aria-labelledby="noteModalLabel" class="modal fade" id="noteModal" role="dialog"
                     tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" th:action="@{/notes}">
                                    <input id="note-id" name="noteid" type="hidden">
                                    <div class="form-group">
                                        <label class="col-form-label" for="note-title">Title</label>
                                        <input class="form-control" id="note-title" maxlength="20" name="notetitle"
                                               required type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="note-description">Description</label>
                                        <textarea class="form-control" id="note-description" maxlength="1000"
                                                  name="notedescription" required rows="5"></textarea>
                                    </div>
                                    <button class="d-none" id="noteSubmit" type="submit"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-primary" id="save-changes" onclick="$('#noteSubmit').click();"
                                        type="button">Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-labelledby="nav-credentials-tab" class="tab-pane fade" id="nav-credentials" role="tabpanel">
                <button class="btn btn-info float-right" id="newcred" onclick="showCredentialModal()"
                        style="margin: 0.25em;"
                        type="button">
                    + Add a New Credential
                </button>

                <div class="table-responsive">
                    <table class="table table-striped" id="credentialTable" th:object="${credentials}">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 20%"></th>
                            <th scope="col" style="width: 35%">URL</th>
                            <th scope="col" style="width: 20%">Username</th>
                            <th scope="col" style="width: 25%">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="credential : ${credentials}">
                            <td>
                                <button class="btn btn-success" name="editCred"
                                        th:onclick="javascript:showCredentialModal([[${credential}]])" type="button">
                                    Edit
                                </button>
                                <a class="btn btn-danger" name="delete"
                                   th:href="@{/credentials/delete(id=${credential.credentialid})}">Delete</a>
                            </td>
                            <th scope="row" th:text="${credential.url}"></th>
                            <td th:text="${credential.username}"></td>
                            <td th:text="${credential.password}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div aria-hidden="true" aria-labelledby="credentialModalLabel" class="modal fade" id="credentialModal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" th:action="@{/credentials}">
                                    <input id="credential-id" name="credentialid" type="hidden">
                                    <div class="form-group">
                                        <label class="col-form-label" for="note-title">URL</label>
                                        <input class="form-control" id="credential-url" maxlength="100" name="url"
                                               required type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="note-title">Username</label>
                                        <input class="form-control" id="credential-username" maxlength="30"
                                               name="username"
                                               required type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="note-title">Password</label>
                                        <input class="form-control" id="credential-password" maxlength="30"
                                               name="password"
                                               required type="text">
                                    </div>
                                    <button class="d-none" id="credentialSubmit" type="submit"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-primary" id="save-credential"
                                        onclick="$('#credentialSubmit').click();"
                                        type="button">Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!--For opening the note modal-->
<script type="text/javascript">
    // For opening the note modal
    function showNoteModal(note) {
        $('#note-id').val(note && note.noteid ? note.noteid : 0);
        $('#note-title').val(note && note.notetitle ? note.notetitle : '');
        $('#note-description').val(note && note.notedescription ? note.notedescription : '');
        $('#noteModal').modal('show');
    }

    // For opening the credentials modal
    function showCredentialModal(credential) {
        $('#credential-id').val(credential && credential.credentialid ? credential.credentialid : 0);
        $('#credential-url').val(credential && credential.url ? credential.url : '');
        $('#credential-username').val(credential && credential.username ? credential.username : '');
        $('#credential-password').val(credential && credential.password ? credential.password : '');
        $('#credentialModal').modal('show');
    }
</script>
</body>
</html>